<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FFmpegPath" value="ffmpeg\bin\ffmpeg.exe"/>
    <add key="InputDirectory" value="E:\YoukuFiles\transcode"/>
    <add key="OutputDirectory" value="E:\YoukuFiles\transcode\output"/>
    <add key="WaterLocationX" value="10" />
    <add key="WaterLocationY" value="10" />
  </appSettings>
</configuration>